@model HaloweenHeist.DTO.Stage3Model

@{
    ViewBag.Title = "Which barrel was poisoned?";
}
    <br /><div>Hello, @Html.DisplayFor(model => model.UserId)</div>
<p>(user id is stored in a cookie, but it might be useful to keep a copy if you "accidentally" clear them or want to use other browser/machine</p>

<h2>Task 3/3   The poisoned drink</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <p>You have successfully determined the poisoned drink. However another issue lies ahead. The excentric host is planning a large scale @Html.DisplayFor(model => model.TaskText) festival</p>
        <p>
            He has prepared 793 barrels for the event, and knows that only one of the barrels is poisoned. </p>
        <p>He has 10 large state of the art devices that can detect the poison in the liquid poured into it.</p>
        <p>You have 4 hours to find the poisoned barrel, but take in mind that it takes 90 minutes for each machine to run the test.</p>
        <br />
        <p>How do you find the only one poisoned barrel?</p>
        <div class="form-group">
            @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-9">
                @Html.TextAreaFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control" }, rows = "6", cols = "1000" })
                @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
