@model HaloweenHeist.DTO.Stage1Model

@{
    ViewBag.Title = "The dark tunnel";
}
    <br />
<div>Hello, @Html.DisplayFor(model => model.UserId)</div>
<p>(user id is stored in a cookie, but it might be useful to keep a copy if you "accidentally" clear them or want to use other browser/machine</p>

<h2>Task 1/3   The Dark Tunnel</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <pre>@Html.DisplayFor(model => model.TaskText)</pre>
        <div class="form-group">
            @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
