@model HaloweenHeist.Models.RicketyBridge

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RicketyBridge</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WrongAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WrongAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrectAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speedster1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speedster1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speedster2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speedster2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlowPoke1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlowPoke1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlowPoke2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlowPoke2)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
